@model  Ejercicio4_Pixar.Models.CortoViewModel
@{
    Layout = "_Layout";
}

<div id="principalPeliculas">

    <div id="pelis">
        @foreach (var c in Model.Categorias)
        {
            <h1>@c.Nombre</h1>

            @foreach (var x in c.Cortometraje)
            {
                <div>
                    <a class="imgPelicula" href="~/Cortometrajes/@x.Nombre.Replace(" ","-")">
                        <img src="~/images/portadas/@(x.Id)_pc.jpg" alt="@x.Nombre">
                    </a>
                    <div class="nombrePelicula">
                        <p>@x.Nombre</p>
                    </div>
                </div>

            }

        }

    </div>
</div>

