
@{
    Layout = "_Layout";
}

<h4>SUMA DE DOS NUMEROS</h4>
<p>Ingrese dos numeros para realizar la suma.</p>
<form action="~/Home/ResultadoSuma" method="get">
    <fieldset>
        <label>Numero 1: </label> <input type="number" name="numero1" /> <br />
        <label>Numero 2:</label> <input type="number" name="numero2" /> <br />
        <input type="submit" />
    </fieldset>
</form>


