<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/estilos.css" rel="stylesheet" />
    <title>Inicio | Pixar</title>
    <link rel="icon" href="~/icon.png">
</head>

<body class="index">
    <header>
        <nav class="menuHorizontal">
            <a href="~/Home/Index">
                <img id="logo" src="~/images/Disney_pixar.png">
            </a>
            <ul>

                <li class="selected">
                    <a href="~/Home/Index">Inicio</a>
                </li>
                <li>
                    <a href="~/Home/Pelicula">Películas</a>
                </li>

                <li>
                    <a href="cortos.html">Cortometrajes</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
       @RenderBody()
    </main>
    <footer class="footer-distributed">

        <div class="footer-right">

            <a href="https://www.facebook.com/DisneyPixarLatinoamerica/" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://twitter.com/DisneyPixar" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.youtube.com/user/DisneyPixar" target="_blank">
                <i class="fa fa-youtube"></i>
            </a>
            <a href="https://www.instagram.com/pixar/" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>

        </div>

        <div class="footer-left">

            <p class="footer-links">
                <a href="~/Home/Index">Inicio</a>
                ·
                <a href="~/Home/Pelicula">Películas</a>
                ·
                <a href="Cortos.html">Cortometrajes</a>
            </p>

            <p>&copy;Disney Pixar</p>
        </div>

    </footer>
</body>

</html>

