<html>
<head>
    <link href="~/estilos.css" rel="stylesheet" />
    <title>Villancicos</title>
</head>
<body>

    <header>
        <h1>Villancicos</h1>
        <h2>Feliz Navidad</h2>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        Programación Web - Unidad 2
    </footer>
</body>
</html>


