<html>

<head>
    <title>Ejercicio 1: Paso de Parametros (Suma)</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>

<body>
    <h1>PROGRAMACIÓN WEB</h1>
    <h2>UNIDAD 2. MODELO MVC.</h2>
    <h3>HÉCTOR SAÚL MALDONADO GÓMEZ</h3>


    @RenderBody()

    <footer>ING. SISTEMAS COMPUTACIONALES</footer>
</body>

</html>