@model Ejercicio5_Animales.Models.ViewModels.IndexViewModel
@{
    Layout = "_Layout";
}

<div class="slides">
        <img src="~/images/carousel@(Model.NumImagen).jpg">

    
</div>

<h1>Clasificación de los vertebrados</h1>

<div class="clases">
    @foreach (var clases in Model.Clases)
    {
    <div>
        <a href="~/Especie/@clases.Nombre">
            <img src="~/clases/@(clases.Id).jpg">
            <h1>@clases.Nombre</h1>
            <p>@clases.Descripcion</p>
        </a>
    </div>
    }
        
    


</div>

