
@{
    Layout = "_Layout";
}

<div class="slides">
    <img src="images/carousel1.jpg">
</div>

<h1>Clasificación de los vertebrados</h1>

<div class="clases">
    <div>
        <a href="reptiles.html">
            <img src="clases/5.jpg">
            <h1>Reptiles</h1>
            <p>Los Reptiles son animales vertebrados que se caracterizan por su especial manera de andar, ya que andan arrastrando el vientre por el suelo..</p>
        </a>
    </div>
    <div>
        <a href="reptiles.html">
            <img src="clases/5.jpg">
            <h1>Reptiles</h1>
            <p>Los Reptiles son animales vertebrados que se caracterizan por su especial manera de andar, ya que andan arrastrando el vientre por el suelo..</p>
        </a>
    </div>
    <div>
        <a href="reptiles.html">
            <img src="clases/5.jpg">
            <h1>Reptiles</h1>
            <p>Los Reptiles son animales vertebrados que se caracterizan por su especial manera de andar, ya que andan arrastrando el vientre por el suelo..</p>
        </a>
    </div>
    <div>
        <a href="reptiles.html">
            <img src="clases/5.jpg">
            <h1>Reptiles</h1>
            <p>Los Reptiles son animales vertebrados que se caracterizan por su especial manera de andar, ya que andan arrastrando el vientre por el suelo..</p>
        </a>
    </div>
    <div>
        <a href="reptiles.html">
            <img src="clases/5.jpg">
            <h1>Reptiles</h1>
            <p>Los Reptiles son animales vertebrados que se caracterizan por su especial manera de andar, ya que andan arrastrando el vientre por el suelo..</p>
        </a>
    </div>
    <div>
        <a href="reptiles.html">
            <img src="clases/5.jpg">
            <h1>Reptiles</h1>
            <p>Los Reptiles son animales vertebrados que se caracterizan por su especial manera de andar, ya que andan arrastrando el vientre por el suelo..</p>
        </a>
    </div>
    <div>
        <a href="reptiles.html">
            <img src="clases/5.jpg">
            <h1>Reptiles</h1>
            <p>Los Reptiles son animales vertebrados que se caracterizan por su especial manera de andar, ya que andan arrastrando el vientre por el suelo..</p>
        </a>
    </div>
</div>

