@model IEnumerable<Ejercicio5_Animales.Models.Clase>
@{
    Layout = "_Layout";
}

<div class="slides">
    <img src="~/images/carousel1.jpg">
</div>

<h1>Clasificación de los vertebrados</h1>

<div class="clases">
    @foreach (var clase in Model)
    {
        <div>
            <a href="~/Especie/@clase.Nombre.Replace(" ","-")">
                <img src="~/clases/@(clase.Id).jpg">
                <h1>@clase.Nombre</h1>
                <p>@clase.Descripcion</p>
            </a>
        </div>
    }


</div>

